* {
    box-sizing: border-box;
  }
  body {
    font-family:sans-serif;
    background-color: whitesmoke;
  }
  header,
  nav,
  main,
  footer {
    margin: 10px auto;
    max-width: 800px;
  }

  li :hover{
    background-color: blueviolet;
    color: azure;

  }
  header,
  footer {
    border: 1em;
    background-color: skyblue;

  }
  header {
    display: flex;
  }
  h1 {
    font-family: Fira+Sans;
    font-family: Lucida;
    color:gray;
    font-size: 1.5rem;
    margin: 0.15rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  header img {
    width: 100px;
    height: 120px;
  }
  main hr.header-line {
    margin-top: -15px;
  }
  main ul li {
    margin-bottom: 5px;
  }
  footer p.last_updated {
    color: #ffff00;
  }
  footer {
    font-family: Georgia;
    text-align: center;
  }

  
  @media only screen and (min-width: 32.5em){
    h1{
        font-size: 2em;
        text-align: center;
        padding-right: 4em;
        padding-left: 2em;
        padding-top: 0.5em;

    }
    h2{
        font-size: 1em;
    }
    header, footer {
        border-radius: 10px;
    }
    img {
        float: left;

    }

}